<div class="row empleador-principal">
    <section class="list-ciudadanos col-md-6 col-12">
           <div class="filtrar col-md-6 offset-md-3">
        <div class="row">
            <div class="col">
              <select class="form-select" aria-label="Default select example" (change)="seleccionProvincia($event)">
                 <option selected >Provincia</option>
                  <option *ngFor="let provincia of provincias.provincias" value="{{provincia.nombre}}">{{provincia.nombre}}</option>
              </select>
            </div>
            <div class="col">
                <button class="btn btn-info" (click)="filtrar()">Filtrar</button>
                <button class="btn btn-danger" (click)="cargarCiudadanos()">Todos</button>
              </div>
          </div>
     </div>
     <div class="ciudadanos offset-1" >
        <div class="card tarjetas" style="width: 29rem;" *ngFor="let ciudadano of ciudadanos,let i = index">
          <div class="card-body">
            <h5 class="card-title">{{ciudadano.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ciudadano.curriculum.tituloTerciario}}</h6>
            <p class="card-text">{{ciudadano.curriculum.perfilLaboral}}</p>
            <button class="btn btn-info" (click)="cargarModalCiudadano(i)" data-bs-toggle="modal" data-bs-target="#modalInfo">Mas Información</button>
          </div>
        </div>
      </div>
    </section>
    <aside class="list-mis-ofertas col-md-6 col-12">
        <div>
          <h2 class="title-ofertas">Mis Ofertas</h2>
        </div>
          <div class="ciudadanos offset-1" >
            <div class="card tarjetas" style="width: 29rem;" *ngFor="let oferta of ofertas,let i = index">
              <div class="card-body">
                <h5 class="card-title">{{oferta.puestoRequerido}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{oferta.fechaPublicacion}}</h6>
                <p class="card-text">{{oferta.principalesTareas}}</p>
                <button class="btn btn-info" (click)="cargarModalOferta(i)" data-bs-toggle="modal" data-bs-target="#modalInfo">Ver Oferta</button>
              </div>
            </div>
          </div>
        </aside>
    <!-- Modal -->
    <div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{tituloModal}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!--Cuerpo del Modal-->
          <div class="modal-body">        
            <!-- Datos Ciudadano-->
            <div class="text-center background-datos" *ngIf="activarModalCiudadano">
              <div class="row">
                 <!--Datos personales-->
                  <div class="col-12 col-md-4">
                      <div class="titulo">Nombre: 
                        <span class="mb-4 py-1">{{ciudadano.nombre}}</span> 
                      </div>                      
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Apellido: 
                      <span class="mb-4 py-1">{{ciudadano.curriculum.apellido}}</span> 
                    </div>                      
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Email: 
                      <span class="mb-4 py-1">{{ciudadano.email}}</span> 
                    </div>                      
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Telefono: 
                      <span class="mb-4 py-1">{{ciudadano.telefono}}</span> 
                    </div>                      
                 </div>
                 <div class="col-12 col-md-4">
                  <div class="titulo">Provincia: 
                    <span class="mb-4 py-1">{{ciudadano.provincia}}</span> 
                  </div>                      
               </div>
               <div class="col-12 col-md-4">
                <div class="titulo">Direccion: 
                  <span class="mb-4 py-1 ">{{ciudadano.curriculum.direccion}}</span> 
                </div>                      
             </div>
               <!--Perfil-->
                  <div class="col-12 col-md-6">
                     <div class="titulo">Titulo Universitario/terciario: 
                      <span class="mb-4 py-1">{{ciudadano.curriculum.tituloTerciario}}</span> 
                     </div>                      
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="titulo">Sebre el:
                     <span class="mb-4 py-1 descripcion">{{ciudadano.curriculum.sobreMi}}</span> 
                    </div>                      
                 </div>
                 <div class="col-12 col-md-6">
                  <div class="titulo">Perfil Laboral:
                   <span class="mb-4 py-1 descripcion">{{ciudadano.curriculum.perfilLaboral}}</span> 
                  </div>                      
               </div>
               <div class="col-12 col-md-6">
                <div class="titulo">Conosimientos Informaticos:
                 <span class="mb-4 py-1 descripcion">{{ciudadano.curriculum.conociemientosInformaticos}}</span> 
                </div>                      
             </div>
             </div>
            </div>
            <!-- Datos Oferta-->
            <div class="text-center background-datos" *ngIf="activarModalEmpleador == true">
              <div class="row">
                <!--Campos-->  
                <div class="col-12">
                  <div class="titulo">Cantidad de postulantes: 
                       <span class="mb-4 py-1 ">{{oferta.cantidadVacantes}}</span>
                  </div>
              </div>
                <div class="col-12 col-md-4">
                      <div class="titulo">Puesto requerido: 
                           <span class="mb-4 py-1 ">{{oferta.puestoRequerido}}</span>
                      </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Cantidad de Vacantes: 
                         <span class="mb-4 py-1 ">{{oferta.cantidadVacantes}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Fecha de Publicación: 
                         <span class="mb-4 py-1 ">{{oferta.fechaPublicacion}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Jornada: 
                         <span class="mb-4 py-1 ">{{oferta.puestoRequerido}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                     <div class="titulo">Disponibilidad Horaria: 
                        <span class="mb-4 py-1 ">{{oferta.disponibilidadHoraria}}</span>
                     </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Salario: 
                       <span class="mb-4 py-1">{{oferta.salario}}</span>
                    </div>
                 </div>
                 <div class="col-12 col-md-4">
                  <div class="titulo">Resumen de puesto: 
                     <span class="mb-4 py-1 descripcion">{{oferta.resumenPuesto}}</span>
                  </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Requisitos: 
                      <span class="mb-4 py-1">{{oferta.requisitos}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="titulo">Beneficios: 
                      <span class="mb-4 py-1">{{oferta.beneficio}}</span>
                    </div>
                  </div>  

               </div>
            </div>
          </div>
            <!--footer del modal-->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" *ngIf="activarModalCiudadano">Descargar CV</button> 
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/empleador/oferta/postulantes']" *ngIf="activarModalEmpleador">Ver Postulantes</button>
              <button type="button" class="btn btn-primary" *ngIf="activarModalEmpleador" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/empleador/generar/oferta/'+oferta._id]">Actualizar Oferta</button>
            </div>        
        </div>
    
        </div>
      </div>
</div>